body {
    margin: 0;
    font-family: Nunito, sans-serif;
  }
  
.header {
    background-color: #4527A0;
    padding: 0 25px;
    font-size: 1.5rem;
    color: #EDE7F6;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
.header p{
      font-size: 1.1rem;
      color: #EDE7F6;
  }

.nav a{
    color: #EDE7F6;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
  }
  
.nav a:hover {
    color: #F8BBD0;
    transform: scale(1.5, 1.5) rotate(-5deg);
  }
  
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   }
  
.nav li {
    margin-left: 15px;
  }
  
.story img {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.story {
    background-color: #9575CD;
    padding: 15px 25px;
    justify-content: center;
  }
  
  .story-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }

  .inner-item {
    max-width: 500px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .story h1 {
    font-family: "Lobster Two", sans-serif;
    color: #880E4F;
    font-size: 2.5rem;
  }
  
  .story p {
    font-size: 1.15rem;
    line-height: 1.5;
  }
  
  .photos img {
    width: 100%;
}

.photos {
    background-color: #9575CD;
    padding: 15px 25px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
} 

.footer {
    background-color: #E1BEE7;
    text-align: center;
    padding: 20px 0;
    color: #880E4F;
    font-size: .8rem;
}